<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>
<% @requests.each do |r| %>
<li>
<%= link_to r.age , request_path(r.id) %>
CARE ID : <%=  r.caregiver_id %>

</li>
<% end %>